.presProjet{
    width:80%;
    margin: 0 auto 75px auto;
}

.description h1{
    font-family: 'Lobster';
    font-size: 45px;
    color:rgb(99, 134,146);
    margin-bottom:75px;
}

.description p{
    font-size: 18px;
}

.smTitre{
    font-size: 24px;
    color:rgb(99, 134,146);
    display: block;
    margin-bottom:5px;
}

.image{
    display:flex;
    justify-content: center;
    align-items: center;
}

.ctrlProjet{
    width:80%;
    margin: 0 auto 75px auto;
    justify-content: space-between;
}